#input-container {
    height: 7fr;
    width: 100%;
}

#test-container{
    height: 1fr;
    width: 100%;
}

#input-list {
    width: 1fr;
    min-width: 24;
}

#input-switcher {
    width: 3fr;
    padding: 1;
}