#wrapper{
    width: 100%;
    height: 100%;
    align: center middle;
}

#label{
    padding: 1;
}

.input{
    width: 50%;
    align: center middle;
}


.btn{
    background: grey;
    margin: 1 0 0 1; 
    width: 50%;
    align: center middle;
}